@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #211916;
  --clr-secondary: #555555;
  --clr-light-gray: #c1bebe;
  --clr-focussed: #f0652b;
  --clr-white: #ffffff;

  /* Background Colors */
  --bg-primary: #f6f4fe;
  --bg-secondary: #e0e0f1;

  /* Accent Colors */
  --clr-accent-light: #ff8a5c;
  --clr-accent-dark: #a64622;

  /* Status Colors */
  --clr-warning: #f7b217;
  --clr-success: #51b6ca;
  --clr-error: #ec4034;
}

body {
  font-size: 0.825rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-primary);
  color: var(--clr-primary);
}

/* global
--------------- */
img {
  width: 100%;
}

/* Heading Sizes */
h1 {
  font-size: 2.4rem;
  line-height: 1.1;
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.175rem;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.625rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }
}
